*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libre-Bodoni;
}
body{  
   
    background-color: #FAFFF9;
}
.leftblock{
    background-color: #0A5B5E;
    width: 364px;
    height: 154px;
    position: absolute;
    left: -140px;
    z-index: -1;
}
.inside{
    background-color: #0A5B5E;
    width: 366px;
    height: 382px;
    border-radius: 195px;
}
.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(79, 76, 76);
    text-align: center;
    padding: 14px 31px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo{
    padding-left: 89px;
    padding-top: 19px;
    float: left;
}

.info {
    width: 524px;
    padding-top: 31px;
    padding-left: 40px;
    margin-left: 237px;
}
.text{
    position: absolute;
    top: 48px;
    left: 143px;
    font-size: 18px;
    color: white
}
.line{
    background-color: rgb(10, 91, 94);
    width: 230px;
    height: 2px;
    position: relative;
    margin-top: 26px;
    margin-left: 736px;
}
.garden{
    float: right;
    width: 165px;
    margin-right: 87px;
    margin-top: 10px;
    font-size: 24px;
}
#hash{
    position: absolute;
    top: 44px;
    right: 283px;
    color: gray;
}
#hashtag{
    position: absolute;
    top: 43px;
    right: 139px;
    font-weight: 550;
    color: #223C2F;
}
.main{
    position: relative;
    width: 836px;
    height: 342px;
    margin-left: 136px;
    margin-top: 19px;
    padding-left:10px;
}
.window{
    background-color: #ddd6d6;
    width: 226px;
    height: 237px;
    position: absolute;
    top: 24%;
    left: 0%;
}
.curve{
    background-color: #ddd6d6;
    position: absolute;
    width: 227px;
    height: 198px;
    bottom: 50%;
    border-radius: 104px;
}
.plant{
    position: absolute;
    bottom: 27%;
    right: 50%;
    width: 150px;
    height: 189px;
}
.bottom{
    background-color:#b9c8bd;
    width:830px;
    height: 100px;
    position: absolute;
    top: 102%;
    left: 0%;
}
.centre{
    position: absolute;
    top: 0%;
    left: 32.6%;
    width: 457px;
    height: 213px;
    
}
h1{
    color: #223C2F;
    padding-top: 10px;
    font-size: 38px;
    line-height: 35.2px;
}
#txt{
    font-family: Libre Bodoni;
    color: #223C2F;
    padding-top: 17px;
    font-size: 18px;
}
.read{
    font-family: Libre Bodoni;
    background-color: #0A5B5E;
    margin-top: 11px;
    width: 119px;
    padding: 4px;
    color: white;
    font-size: 19px;
    border: none;
}
.discount{
    width: 200px;
    height: 100px;
    padding-left: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 50;
    color: #223C2F;
}
#txt2{
    color: #223C2F;
    font-size: 12px;
    padding: 0px 20px 10px 0px;
}
.plants{
    position: absolute;
    width: 664px;
    height: 100px;
    left: 25%;
    bottom: 0%;
}
.plant1{
    margin-left: 49px;
    width: 121px;
    height: 80px;
}
#plant11{
    position: absolute;
    bottom: 18px;
    width: 153px;
    height: 190px;
}
.plant2{
    margin-left: 235px;
    width: 121px;
    height: 0px;
}
.plant3{
    margin-left: 420px;
    width: 121px;
    height: 0px;
}
.side{
    width: 180px;
    height: 347px;
    position: absolute;
    bottom: 16%;

}
.shop{
    padding:10px 0px 20px 40px;
    color: white;
    font-size: 22px;
    width: 180px;
    height: 65px;
    background-color: #0A5B5E;
}
.aloevera{
    margin-top: 10px;
    padding: 10px 0px 0px 50px;
    background-color:#dce5df;
    font-size: 20px;
    width: 180px;
    height: 40px;
    font-weight: bold;
}
.cactus{
    margin-top: 10px;
    padding: 10px 0px 0px 63px;
    background-color:#dce5df;
    font-size: 20px;
    width: 180px;
    height: 40px;
    font-weight: bold;
}
.monstera{
    margin-top: 10px;
    padding: 10px 0px 0px 50px;
    background-color:#dce5df;
    font-size: 20px;
    width: 180px;
    height: 40px;
    font-weight: bold;
}
.contact{
    color:  rgb(79, 76, 76);
    text-align: end;
    padding-top: 95px;
}
.design{
    width:200px;
    height: 70px;
    position: absolute;
    bottom: 0%;
    left: 84%;
    text-align: end;
}
#back{
    width: 190px;
    height: 66px;
    z-index: -1;
}
#leaf{
    position: absolute;
    bottom: 0%;
    right:20%;
    height: 66px;
}
#finalforma{
    position: absolute;
    bottom: 47%;
    right:0%;
    height: 55px;
}